<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login</title>
  <style>
    .summary { margin-top: 20px; }
    .summary p { font-size: 16px; }
    .summary strong { width: 100px; display: inline-block; }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

</head>
<body>
  <h2> Welcome,
    <b th:text="${employee.firstName}"></b>
    <b th:text="${employee.lastName}"></b>!
  </h2>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
  <tr>
    <th>Employee ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Action</th>

  </tr>
  </thead>
  <tbody>

  <tr>
    <td th:text="${employee.id}" />
    <td th:text="${employee.firstName}" />
    <td th:text="${employee.lastName}" />
    <td th:text="${employee.email}" />
    <!-- Add update button link -->
  </tr>
  </tbody>
</table>

</body>
</html>